<div class="login-bg">
  <div class="login-card">
    <h2 class="title">ورود به سامانه آموزشی</h2>

    <div class="form-group">
      <label>نام کاربری</label>
      <input
        type="text"
        [(ngModel)]="username"
        class="input"
        placeholder="username"
      />
    </div>

    <div class="form-group">
      <label>رمز عبور</label>
      <input
        type="password"
        [(ngModel)]="password"
        class="input"
        placeholder="password"
      />
    </div>

    <div class="form-group">
      <label>نقش</label>
      <select [(ngModel)]="role" class="input">
        <option value="teacher">استاد</option>
        <option value="student">دانشجو</option>
      </select>
    </div>

    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

    <button class="btn-login" (click)="login()">ورود</button>
  </div>
</div>
